*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar-brand{
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    color: black;
}
.navbar-brand:hover{
    color: black;
}
.nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    font-family: 'Tilt Warp', cursive;
    text-transform: uppercase;
}
.nav-link:hover{
    color: black;
}
.search{
    height: 40px;
    width: 80%;
    border-radius: 60px;
    outline: none;
    margin-right: -35px;
    border: 2px solid rgb(248, 26, 92);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background:  rgb(248, 26, 92);
    color: white;
    border-radius: 60px;
    font-weight: 700;
}
.btn0:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

#main{
    background: url('./img/main\ section\ img.jpg')no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: 50% 50%;
    width: 100%;
}

.main h1{
    font-size: 4rem;
    font-weight: 700;
}
h1{
    font-weight: 700;
}
.card:hover{
    -webkit-box-shadow: 16px 7px 40px 10px rgba(0,0,0,0.3);
-moz-box-shadow: 16px 7px 40px 10px rgba(0,0,0,0.3);
box-shadow: 16px 7px 40px 10px rgba(0,0,0,0.3);
transition: 0.5s;
}

#picture{
    background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url(./img/girl.jpg)no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
}
#picture h1{
    font-family: 'Lobster', cursive;
}
#news{
    background-color: black;
    color: white;
}
.btn2{
    height: 45px;
    width: 100px;
    background: white;
    margin-left: -10px;
    border: 2px solid white;
    font-weight:600 ;
}
#news input{
    height: 45px;
    width: 55%;
    border: 2px solid white;
    outline: none;
    background: black;
    color: white;
    margin-top: 20px;
    font-weight: 600;
}
#news::placeholder{
    color: white;
}